{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- Styles block -->

{% block content %}

{% for pitch in pitch %}
<div class="jumbotron">
  <li>{{pitch.actual_pitch}}</li>
   <p>{{pitch.category}}</p>
   <p>{{pitch.date_posted}}</p>
   <a href="/pitch/new/comment/{{pitch.id}}"> <button class="btn btn-outline-secondary btn-lg" >Add Comment</a></button>
</div>
{% endfor %}

{% for pitchone in pitchone %}
<div class="jumbotron">
  <li>{{pitchone.actual_pitch}}</li>
   <p>{{pitchone.category}}</p>
   <p>{{pitchone.date_posted}}</p>
   <a href="/pitch/new/comment/{{pitchone.id}}"><button class="btn btn-outline-secondary btn-lg" >Add Comment</a></button>
</div>
{% endfor %}

{% for pitchtwo in pitchtwo %}
<div class="jumbotron">
  <li>{{pitchtwo.actual_pitch}}</li>
   <p>{{pitchtwo.category}}</p>
   <p>{{pitchtwo.date_posted}}</p>
   <a href="/pitch/new/comment/{{pitchtwo.id}}"><button class="btn btn-outline-secondary btn-lg" >Add Comment</a></button>
</div>
{% endfor %}

{% for pitchthree in pitchthree %}
<div class="jumbotron">
  <li>{{pitchthree.actual_pitch}}</li>
   <p>{{pitchthree.category}}</p>
   <p>{{pitchthree.date_posted}}</p>
   <a href="/pitch/new/comment/{{pitchthree.id}}"><button class="btn btn-outline-secondary btn-lg" >Add Comment</a></button>
</div>
{% endfor %}

{% endblock %}
